* {
    margin: 0;
    padding: 0;
    }

body{
    font-family: 'Alkatra', cursive;
}
.cabecalho {
background-color: rgb(131, 131, 131);
color:rgb(138, 232, 255);
display: flex;
justify-content: space-around;
padding: 24px 0;
margin: 0 0px;

}

#logoalura {
    width: 20%;
}

.lista-itens{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;
}

#programa{

    width: 40%;
}

.escola{
background-image: linear-gradient(#383838, #00c0eb);
color: rgb(58, 58, 58);
display: flex;

}

.escolaconteudo{

    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.escolatitulo{

    padding: 24px 0;
    
}